<p>Bonjour {{ unUtilisateur.getNomComplet }} !</p>
<br>
<p>Votre inscription a bien été enregistrée.<br>Dès à présent, vous pouvez vous connecter à votre espace client avec ce <a href="{{ url('app_connexion') }}">lien</a>.</p>
<br><br>
<p>Cordialement,<br><br><img src="cid:logo" alt="logo" style="width: 145px;height: 30px;"></p>