<div class="d-flex justify-content-between py-1">
    <div class="w-50">
        <p class="jour-horaires">Lundi :</p>
    </div>
    <div class="w-50">
        <p class="heures">11:00 - 14:00</p>
        <p class="heures">Fermé</p>
    </div>
</div>